.hero{
    height: 90vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Elephant',  sans-serif;
}

.hero-left p{
    color: #090909;
    font-size: 80px;
    font-weight: 300;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px;
}

.hero-hand-icon img{
    width: 50px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 12px;
    font-weight: 300;
}