.navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  background: white;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0; 
}

.nav-logo img {
  height: 50px;
  width: auto;
}

.nav-logo p {
  color: #171717;
  font-size: 18px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #626262;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-menu li:hover {
  color: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: -10px;
}

.nav-login-cart button {
  width: 90px;
  height: 46px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 20px;
  color: #515151;
  font-size: 16px;
  font-weight: 700;
  background: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.nav-login-cart button:hover {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  font-size: 13px;
  background: red;
  color: white;
  position: relative;
  top: -30px;
  left: -50px;
}
