.offers{
    width: 75px;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 10px 500px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #030303;
    font-size: 40px;
    font-weight: 500;
}

.offers-left p{
    color: #0e0c0c;
    font-size: 12px;
    font-weight: 400;
}

.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: rgb(236, 234, 234);
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}